<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            background-color: antiquewhite;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .header {
            padding: 60px;
            text-align: center;
            background: plum;
            color: black;
            font-family: Cambria;
        }

        input[type=text],
        input[type=email] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
            font-family: 'Lucida Sans';
        }

        input[type=text]:focus,
        input[type=email]:focus {
            background-color: antiquewhite;
            outline: none;
        }

        .registerbtn {
            background-color: #aa3e04;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }

        .registerbtn:hover {
            opacity: 1;
        }
    </style>
</head>

<body>
    <div class="header">
        <h2>BaKe ND caKe</h2>
    </div>
    <form action="/adduser">
        <label for="id">ID</label>
        <input type="text" placeholder="Enter the id" name="id" id="id" required><br>
        <label for="name">Name</label>
        <input type="text" placeholder="Enter the name" name="name" id="name" required> <br>
        <label for="email">Email</label>
        <input type="email" placeholder="Enter the email" name="email" id="email" required><br>
        <label for="cake">Cake flavour</label>
        <input type="text" placeholder="Enter the cake" name="cake" id="cake" required><br>
        <label for="phone">Phone number</label>
        <input type="text" placeholder="+91" name="phone" id="phone" required><br>
        <button type="submit " class="registerbtn">Add user</button><br>
        <a href="./" style="color:darkolivegreen">back to home page</a><br>
        {{#if mesg}}
        <h3> Data inserted</h3>
        {{/if}}
        {{#if checkmesg}}
        <h3>emailid or phone number already present</h3>
        {{/if}}
    </form>
</body>

</html>