<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    * {
      box-sizing: border-box;
    }

    body {
      background-color: antiquewhite;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    .header {
  padding: 60px;
  text-align: center;
  background: plum;
  color:black;
  font-family:Cambria;
}
a{
    text-decoration: none;
    font-size: 20px;
    border:2px solid red;
    font-family: 'Times New Roman';
}


    

    
  </style>
</head>
<body>
    <div class="header" ><h1><b>BaKe nd CaKe</b></h1> </div>
     <a href="/add">Add user</a>
    <a href="/search">search user</a>
    <a href="/update">update user</a>
    <a href="/delete">delete user</a>
    <a href="/view">view user</a>
</body>
</html>